### maven project ###
target
.mvn/
.mvnw.*

### Intelij IDEA ###
.idea
*.iml
*.imp

### Eclipse ###
.classpath
.project
.settings

### Visual Studio code ###
.vscode


### Mac OS System ###
.DS_Store
